<!DOCTYPE html>

<html>

    <head>
        <title>{{object.name}}</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../static/recipes/css/recipe_detail.css" >
    </head>

    <body>
        <section class = "navbar">
            <a href="/recipes/home">
                <button>Home</button>
            </a>
            <a href ="{%url 'logout' %}"> 
                <button>Logout</button>  
            </a>
            <form method="get" action="{% url 'recipes:recipes_search' %}">
                {{ form.as_p }}
                <button type="submit">Search</button>
            </form>
            <form method="get" action="{% url 'recipes:charts_search' %}">
                {{ form.as_p }}
                <button type="submit">Analytics</button>
            </form>
            <form method="get" action="{% url 'recipes:create_recipe' %}">
                {{ form.as_p }}
                <button type="submit">Add New Recipe</button>
            </form>
        </section>


        <div class = "recipe-card">
            <div class = "recipe-card-content">
                <div class = "recipe-card-details">
                    <h1 class = "recipe-card-title">{{object.recipe_name}}</h1>
                    <b>Ingredients: <br/> </b> {{object.ingredients}} <br>
                    <b>Cooking Time: </b> {{object.cooking_time}} minutes<br>
                    <b>Difficulty: </b> {{object.get_difficulty_display}} <br>
                    <b>Notes: </b> <p>{{object.note}}</p> <br>
                    <a href="/recipes/home">
                        <button>Home</button>
                    </a>
                    <a href="/recipes/search">
                        <button>Search</button>
                    </a>
                </div>
                <div class = "recipe-card-image">
                    <img src="{{object.pic.url}}"/> <br>
                </div>
            </div>

        <div>

    </body>

</html>