<!DOCTYPE HTML>
<html>

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta http-equiv="refresh" content="5; url=http://127.0.0.1:8000/" />
   <title>Logged out...</title>
   <link rel="stylesheet" href="../../static/recipes/css/log_in.css">
   
</head>

<body>
   <h1>You have successfully logged out. . .</h1>
   <p>Redirecting to main menu in 5 seconds. . .</p>
   <p>If you do not redirect press <a href="http://127.0.0.1:8000/">here</a> to go back.</p>
</body>
</html>