<!DOCTYPE html>

<html>

    <head>
        <title>{{object.name}}</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../static/recipes/css/recipe_detail.css" >
    </head>

    <body>
        <div class = "recipe-card">
            <div class = "recipe-card-content">
                <div class = "recipe-card-details">
                    <h1 class = "recipe-card-title">{{object.recipe_name}}</h1>
                    <b>Ingredients: <br/> </b> {{object.ingredients}} <br>
                    <b>Cooking Time: </b> {{object.cooking_time}} minutes<br>
                    <b>Difficulty: </b> {{object.get_difficulty_display}} <br>
                    <b>Notes: </b> <p>{{object.note}}</p> <br>
                    <a href="/">
                        <button>Return</button>
                    </a>
                </div>
                    
                
                <div class = "recipe-card-image">
                    <img src="{{object.pic.url}}"/> <br>
                </div>
            </div>

        <div>

    </body>

</html>