body{
    background: radial-gradient(#e66465, #9198e5);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
}

button{
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    transition: all .7s ease;
}

button:hover{
    background-color: black;
    color: rgb(167, 73, 245);
    transform: scale(1.2);
}
button:active{
    background-color: black;
    color: rgb(167, 73, 245);
    transform: scale(1);
}

.recipe-card{
    height: 75vh;
    padding: 25px;
    border-radius: 25px;
    background-color: white;
    box-shadow:inset -8px 8px black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    text-align: center;
    overflow: hidden;
}

.recipe-card .recipe-card-title{
    font-size: 40px;
}

.recipe-card .recipe-card-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.recipe-card .recipe-card-content .recipe-card-details{
    padding: 25px;
    line-height: 2;
    max-height: 75vh;
}

.recipe-card .recipe-card-content .recipe-card-image{
    width: 100%;
    height: auto;
}

.recipe-card .recipe-card-content .recipe-card-image img{
    border-radius: 20px;
    width: 100%;
    max-height: 75vh;
}

@media screen and (max-width: 500px) {
    .recipe-card{
        width: 75vw;
        height: 100vh;
        border: none;
        box-shadow: none;
    }
    .recipe-card .recipe-card-content .recipe-card-details{
        padding: 0;
    }

    .recipe-card .recipe-card-content{
        display: grid;
        grid-template-columns: auto;
    }

  }

.navbar {
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #000000;
    z-index: 100;
    filter: blur(2px);
    opacity: .5;
    transition: all .7s ease;
    padding: 5px;
    position: sticky;
}

.navbar:hover{
    filter: blur(0);
    opacity: 1;
}
  
.navbar a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
}

.navbar form{
    float:right;
    text-align: center;
    text-decoration: none;
}

.navbar form button{
    color: black;
    background-color: white;
}

.navbar form button:hover{
    background-color: black;
    color: rgb(167, 73, 245);
}
