<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Insatiable</title>
        <link rel="stylesheet" href="../../static/recipes/css/recipe_home.css">
    </head>

    <body>
        <section class = "hero-banner">
            <h1 class = "hero-banner-title">Insatiable</h1>
            <div class = "intro">
                <p>Welcome to <b>Insatiable</b>. The food app that never stops.</p>
                <a href ="{%url 'login' %}">
                    <button>Login</button> 
                </a>
            </div>
        </section>
    </body>
</html>